extends layout

block content
  h1= title
  p Welcome to #{title}
  p Aparna Dondapati performing Lab 10 on pug templates to dynamically generate web pages on the server side
   button(type='button',class='btn btn-secondary') press me
